{% extends "base.html.twig" %}

{% block body %}
  <div class="block-title d-flex justify-content-between align-items-center">
    <h1><i class="fa-solid fa-building clr-black me-3"></i>Appartements</h1>
    <a href="{{ path('app_apartment_new') }}" class="m-0 h3 btn btn-primary d-flex align-items-center"><i class="fa-solid fa-circle-plus me-2"></i>Ajouter</a>
  </div>
  <div class="block-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for apartment in apartments %}
      <div class="col">
        <div class="card h-100" style="border-top: 10px solid {{ apartment.color }};">
          <div class="card-body">
            <h2 class="card-title">{{ apartment.name }}</h2>
            <p class="card-text">{{ apartment.address }}</p>
            <p class="card-text">{{ apartment.complementAddress }}</p>
            <p class="card-text">{{ apartment.postcode }} {{ apartment.city }}</p>
          </div>
          <div class="card-footer d-flex justify-content-around">
            <a href="{{ path('app_apartment_update', {'id': apartment.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fa-solid fa-pen-to-square me-2"></i>Modifier</a>
            <a href="{{ path('app_apartment_delete', {'id': apartment.id}) }}" class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash me-2"></i>Supprimer</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}