{% extends "base.html.twig" %}

{% block body %}
  <div class="block-title d-flex">
    {% if app.request.attributes.get('_route') == 'app_apartment_update' %}
      <img src="{{ asset('build/images/icon-edit-apartment.svg') }}" alt="icon add apartment" class="title-icon">
      <h1>Modification de l'appartement n°{{ app.request.attributes.get('id') }}</h1>
    {% else %}
      <img src="{{ asset('build/images/icon-add-apartment.svg') }}" alt="icon add apartment" class="title-icon">
      <h1>Ajout d'un appartement</h1>
    {% endif %}
  </div>
  <div class="block-content form-block">
    {{ form_start(form) }}
      <div class="d-flex justify-content-between align-items-center">
      {{ form_row(form.name) }}
      {{ form_row(form.color) }}
      </div>
      {{ form_row(form.address) }}
      {{ form_row(form.complementAddress) }}
      <div class="d-flex justify-content-between align-items-center">
      {{ form_row(form.postcode) }}
      {{ form_row(form.city) }}
      </div>
      {{ form_row(form.type) }}
      {{ form_row(form.localisationDescription) }}
      <div class="d-flex justify-content-between align-items-center">
      {{ form_row(form.capacity) }}
      {{ form_row(form.surface) }}
      </div>
      <div class="d-flex justify-content-between align-items-center">
      {{ form_row(form.numberOfRooms) }}
      {{ form_row(form.numberOfBeds) }}
      </div>
      {{ form_row(form.pets) }}
    {{ form_end(form) }}
  </div>
{% endblock %}