{% extends "base.html.twig" %}

{% block javascripts %}
  {{ parent() }}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
  <script>
    window.onload = () => {
      let calendarEl = document.getElementById('calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        height: 'auto',
        initialView: 'dayGridMonth',
        locale: 'fr',
        timeZone: 'Europe/Paris',
        headerToolbar: {
          start: 'prev,next',
          center: 'title',
          end: 'dayGridMonth,timeGridWeek'
        },
        buttonText: {
          month: 'Mois',
          week: 'Semaine'
        },
        events: {{ reservations|raw }},
        /* eventDidMount: function(info) {
          var tooltip = new Tooltip(info.el, {
            title: info.event.extendedProps.description,
            placement: 'top',
            trigger: 'hover',
            container: 'body'
          });
        }, */
      });
      calendar.render();
    };
  </script>
{% endblock %}


{% block title %}{{ parent() }} - Tableau de bord{% endblock %}

{% block body %}
  <div class="block-title">
    <h1>Tableau de bord</h1>
  </div>
  <div class="block-content d-flex justify-content-around align-items-center">
    <div class="circle-stat text-center d-flex justify-content-center align-items-center flex-column">
      <p class="fw-bold mb-2">Total ventes</p>
      <p class="h1 mb-0">{{ totalSales|format_currency('EUR', {rounding_mode: 'floor'}) }}</p>
    </div>
    <div class="circle-stat text-center d-flex justify-content-center align-items-center flex-column">
      <p class="fw-bold mb-2">Locations en cours</p>
      <p class="h1 mb-0">{{ reservationsInProgress }}</p>
    </div>
    <div class="circle-stat text-center d-flex justify-content-center align-items-center flex-column">
      <p class="fw-bold mb-2">Nombre de réservations</p>
      <p class="h1 mb-0">{{ nbReservations }}</p>
    </div>
    <div class="circle-stat text-center d-flex justify-content-center align-items-center flex-column">
      <p class="fw-bold mb-2">Nombre d'appartements</p>
      <p class="h1 mb-0">{{ nbApartments }}</p>
    </div>
  </div>
  <div class="block-content calendar-block">
    <div id="calendar"></div>
    <div class="calendar-legend mt-2">
      <div class="d-flex justify-content-start align-items-center">
        {% for apartment in apartments %}
          <div class="apartment-legend d-flex justify-content-start align-items-center me-4">
            <p class="apartment-color me-1" style="width: 15px; height:15px; border-radius:50%; background: {{ apartment.color }}"></p>
            <p class="apartment-name">{{ apartment.name }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="block-content">
    {{ render_chart(chartYear) }}
  </div>
{% endblock %}