<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Contrat de la réservation n°{{ reservation.id }}</title>
</head>
<body>
  <div class="block-content" style="margin: 0 auto;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-3">Détail client</h2>
            <div class="card-text block-client-reservation">
              <p class="m-2">{{ client.firstname }} {{ client.lastname }}</p>
              <p class="m-2">{{ client.phone }}</p>
              <p class="m-2">{{ client.address }}</p>
              <p class="m-2">{{ client.complementAddress }}</p>
              <p class="m-2">{{ client.postcode }}</p>
              <p class="m-2">{{ client.city }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-3">Détail réservation</h2>
            <div class="card-text block-details-reservation">
              <p class="m-2"><span class="label-text">Statut :</span> <span style="background: {{ reservation.state.color }}; border-radius:10px; padding: 0.3rem 0.5rem; color:white;">{{ reservation.state.name }}</span></p>
              <p class="m-2"><span class="label-text">Appartement :</span> {{ reservation.apartment.name }}</p>
              <p class="m-2"><span class="label-text">Nombre d'adultes :</span> {{ reservation.nbOfAdults }}</p>
              <p class="m-2"><span class="label-text">Nombre d'enfants :</span> {{ reservation.nbOfChildren }}</p>
              <p class="m-2"><span class="label-text">Date :</span> Du {{ reservation.startAt|format_datetime(locale='fr',pattern="dd MMMM YYYY")  }} au {{ reservation.endAt|format_datetime(locale='fr',pattern="dd MMMM YYYY")  }}</p>
              <p class="m-2"><span class="label-text">Tarif :</span> {{ reservation.price|format_currency('EUR', {rounding_mode: 'floor'}) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>