{% extends "base.html.twig" %}

{% block body %}
  <div class="block-title d-flex">
    {% if app.request.attributes.get('_route') == 'app_client_update' %}
      <img src="{{ asset('build/images/icon-edit-client.svg') }}" alt="icon add client" class="title-icon">
      <h1>Modification du client n°{{ app.request.attributes.get('id') }}</h1>
    {% else %}
      <img src="{{ asset('build/images/icon-add-client.svg') }}" alt="icon add client" class="title-icon">
      <h1>Ajout d'un client</h1>
    {% endif %}
  </div>
  <div class="block-content form-block">
    {{ form_start(form) }}
      <div class="d-flex justify-content-between align-items-center">
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
      </div>
      {{ form_row(form.email) }}
      {{ form_row(form.phone) }}
      {{ form_row(form.address) }}
      {{ form_row(form.complementAddress) }}
      <div class="d-flex justify-content-between align-items-center">
        {{ form_row(form.postcode) }}
        {{ form_row(form.city) }}
      </div>
      {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}